.input {
  text-align: center;
  font-family: sans-serif;
}
.input > * {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
.input > input {
  width: 500px;
}
.input > button {
  cursor: pointer;
}
/* container */
.container {
  margin: 30px;
}
.card {
  text-align: center;
}
.card > p {
  font-size: 25px;
  padding: 10px;
}
