.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.card>p:nth-of-type(2){
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis ;
}